.box {
    background-color: blue;
    width: 300px;
    height: 300px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.box_font {
    font-family: 'Gill Sans', sans-serif;
    font-weight: 200;
    font-size: 2em;
    color: #000;
}

@media (min-width: 480px) {
    .box {
        background-color: green;
        width: 460px;
    }

    .box_font {
        color: #fff;
    }
}

@media (min-width: 768px) {
    .box {
        background-color: yellow;
        width: 748px;
    }

    .box_font {
        color: #000;
    }
}

@media (min-width: 1024px) {
    .box {
        background-color: black;
        width: 1004px;
    }

    .box_font {
        color: #fff;
    }
}
